body {
	background: #eee;
	font-family: Arial, sans-serif;
}
input, textarea {
	width: 100%;
	padding: 2px 4px;
}
.container {
	max-width: 800px;
	margin: 40px auto;
	padding:40px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
}
.red {
	color: #b50000;
}
.validate_form label {
	color: #666;
	font-size: 0.9em;
}
.field_box {
	padding: 10px 0;
}